<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <logger name="org.hibernate" level="INFO" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.opensaml" level="INFO" />

    <springProperty name="applicationName" source="spring.application.name"/>
    <springProfile name="!cloud">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

        <root level="${LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="cloud,loggingtest">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <mdc/>
                    <pattern>
                        <pattern>
                            {
                            "eventTime": "%date{\"yyyy-MM-dd'T'HH:mm:ss.SSS\", UTC}",
                            "applicationName": "${applicationName}",
                            "logLevel": "%level",
                            "className": "%logger",
                            "message": "%message"
                            }
                        </pattern>
                    </pattern>
                    <logstashMarkers/>
                    <stackTrace>
                        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                            <maxDepthPerThrowable>30</maxDepthPerThrowable>
                            <maxLength>2048</maxLength>
                            <shortenedClassNameLength>20</shortenedClassNameLength>
                            <exclude>^sun\.reflect\..*\.invoke</exclude>
                            <exclude>^net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                            <rootCauseFirst>true</rootCauseFirst>
                        </throwableConverter>
                    </stackTrace>
                </providers>
            </encoder>
        </appender>
        <!-- Masking Log Appender -->
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <append>true</append>
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="commons.securelogging.logback.MaskingPatternLayout">
                    <mask>*</mask>
                    <patternsProperty>^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$</patternsProperty>
                    <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
                </layout>
            </encoder>
        </appender>
        <logger name="jsonLogger" additivity="false" level="INFO">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="${LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
